<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-No01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,811},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>UI-Victoire001.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{528,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,132}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>UI-Yes01.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,706},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>UI-buyLevel001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{551,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,186}}</string>
                <key>sourceSize</key>
                <string>{551,186}</string>
            </dict>
            <key>UI-exit001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{565,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,44}}</string>
                <key>sourceSize</key>
                <string>{565,44}</string>
            </dict>
            <key>UI-fail001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{303,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,135}}</string>
                <key>sourceSize</key>
                <string>{303,135}</string>
            </dict>
            <key>UI-notunlock001.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,555},{326,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{326,48}}</string>
                <key>sourceSize</key>
                <string>{360,48}</string>
            </dict>
            <key>UI-receive001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>UI-receive002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{265,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,103}}</string>
                <key>sourceSize</key>
                <string>{265,103}</string>
            </dict>
            <key>UI-receive003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>UI-set001.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,555},{292,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,70}}</string>
                <key>sourceSize</key>
                <string>{292,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9407c64ad680f20b4586e9d4443d351d$</string>
            <key>textureFileName</key>
            <string>button3.png</string>
        </dict>
    </dict>
</plist>
