<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-Btn-Shez0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,532},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>UI-Btn-XGs0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,532},{379,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,127}}</string>
                <key>sourceSize</key>
                <string>{379,127}</string>
            </dict>
            <key>UI-CGV001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,883},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,33}</string>
            </dict>
            <key>UI-Music0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>UI-Music0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{336,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,39}}</string>
                <key>sourceSize</key>
                <string>{336,39}</string>
            </dict>
            <key>UI-Music0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,497},{353,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,55}}</string>
                <key>sourceSize</key>
                <string>{353,55}</string>
            </dict>
            <key>UI-Music0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,274},{421,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,176}}</string>
                <key>sourceSize</key>
                <string>{421,176}</string>
            </dict>
            <key>UI-Not001.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,497},{360,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,48}}</string>
                <key>sourceSize</key>
                <string>{360,48}</string>
            </dict>
            <key>UI-SAISIR001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,656},{225,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,34}}</string>
                <key>sourceSize</key>
                <string>{225,34}</string>
            </dict>
            <key>UI-XG-btn001.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,274},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>UI-XG-btn002.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,697},{265,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,103}}</string>
                <key>sourceSize</key>
                <string>{265,103}</string>
            </dict>
            <key>UI-XG-btn003.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,668},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>UI-XG-time.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{362,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,201}}</string>
                <key>sourceSize</key>
                <string>{362,201}</string>
            </dict>
            <key>UI-btn-Close001.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,532},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{104,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>UI-exit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,274},{515,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,46}}</string>
                <key>sourceSize</key>
                <string>{515,46}</string>
            </dict>
            <key>UI-goumai001.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,420},{175,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,75}}</string>
                <key>sourceSize</key>
                <string>{175,75}</string>
            </dict>
            <key>UI-mianban002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{679,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,270}}</string>
                <key>sourceSize</key>
                <string>{679,270}</string>
            </dict>
            <key>UI-no001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,274},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>UI-yes001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,913},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>doyoubuy.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,791},{420,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,202}}</string>
                <key>sourceSize</key>
                <string>{420,202}</string>
            </dict>
            <key>doyoulevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{380,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,238}}</string>
                <key>sourceSize</key>
                <string>{380,238}</string>
            </dict>
            <key>needjewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{416,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,57}}</string>
                <key>sourceSize</key>
                <string>{416,57}</string>
            </dict>
            <key>victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{528,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,132}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a76eef00f38911042c4bd089e22b2b0$</string>
            <key>textureFileName</key>
            <string>button2.png</string>
        </dict>
    </dict>
</plist>
