<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-Btn-GQ0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{370,125}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{370,125}}</string>
                <key>sourceSize</key>
                <string>{374,131}</string>
            </dict>
            <key>UI-Btn-GQ0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{374,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,131}}</string>
                <key>sourceSize</key>
                <string>{374,131}</string>
            </dict>
            <key>UI-Btn-Time0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,225},{154,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,165}}</string>
                <key>sourceSize</key>
                <string>{154,165}</string>
            </dict>
            <key>UI-Btn-ok0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,574},{177,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,76}}</string>
                <key>sourceSize</key>
                <string>{177,76}</string>
            </dict>
            <key>UI-XG-btn004png.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,527},{170,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,182}}</string>
                <key>sourceSize</key>
                <string>{170,182}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,785},{128,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>blockBG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,350},{175,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,187}}</string>
                <key>sourceSize</key>
                <string>{175,187}</string>
            </dict>
            <key>blockBG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,225},{175,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,187}}</string>
                <key>sourceSize</key>
                <string>{175,187}</string>
            </dict>
            <key>buy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>buy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,444},{84,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>cheese.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,950},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{72,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>clock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>clock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,652},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,832},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,88},{303,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,135}}</string>
                <key>sourceSize</key>
                <string>{303,135}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,696},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>hint_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,632},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>hint_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,392},{151,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,154}}</string>
                <key>sourceSize</key>
                <string>{151,154}</string>
            </dict>
            <key>jewel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>jewel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,613},{81,81}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>loadingBar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{709,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,53}}</string>
                <key>sourceSize</key>
                <string>{709,53}</string>
            </dict>
            <key>loadingBar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,63}}</string>
                <key>sourceSize</key>
                <string>{718,63}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,515},{170,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,182}}</string>
                <key>sourceSize</key>
                <string>{170,182}</string>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,835},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,835},{134,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,143}}</string>
                <key>sourceSize</key>
                <string>{134,143}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{170,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,182}}</string>
                <key>sourceSize</key>
                <string>{170,182}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,687},{135,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,145}}</string>
                <key>sourceSize</key>
                <string>{135,145}</string>
            </dict>
            <key>pauseImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{422,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,131}}</string>
                <key>sourceSize</key>
                <string>{422,131}</string>
            </dict>
            <key>player.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,350},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,530},{81,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,545},{164,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{164,85}}</string>
                <key>sourceSize</key>
                <string>{164,97}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,699},{134,143}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{134,143}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,845},{152,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,153}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,805},{132,143}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{132,143}}</string>
                <key>sourceSize</key>
                <string>{152,153}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,757},{67,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{67,73}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,699},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,926},{67,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{67,71}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,950},{67,71}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{67,71}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,699},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,776},{67,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{67,73}}</string>
                <key>sourceSize</key>
                <string>{79,75}</string>
            </dict>
            <key>start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,122},{226,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,242}}</string>
                <key>sourceSize</key>
                <string>{226,242}</string>
            </dict>
            <key>start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,402},{170,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,182}}</string>
                <key>sourceSize</key>
                <string>{170,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47a52da53945b936ad02fc44385557f3$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
