<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI-15Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,882},{129,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{129,60}</string>
            </dict>
            <key>UI-Btn-ok0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,937},{175,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,74}}</string>
                <key>sourceSize</key>
                <string>{177,76}</string>
            </dict>
            <key>UI-Buy001.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,782},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>UI-Buy002.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,400},{190,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,195}}</string>
                <key>sourceSize</key>
                <string>{190,195}</string>
            </dict>
            <key>UI-Gou001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,406},{104,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{104,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>UI-JS-Fail0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{605,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,166}}</string>
                <key>sourceSize</key>
                <string>{605,166}</string>
            </dict>
            <key>UI-JS-Pause0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,234},{311,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,164}}</string>
                <key>sourceSize</key>
                <string>{311,164}</string>
            </dict>
            <key>UI-JS-Victory0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{605,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,166}}</string>
                <key>sourceSize</key>
                <string>{605,166}</string>
            </dict>
            <key>UI-Play.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,682},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>UI-Set0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,520},{216,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,90}}</string>
                <key>sourceSize</key>
                <string>{216,90}</string>
            </dict>
            <key>UI-Ts001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{545,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,242}}</string>
                <key>sourceSize</key>
                <string>{545,242}</string>
            </dict>
            <key>UI-Ts002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{420,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,60}}</string>
                <key>sourceSize</key>
                <string>{420,60}</string>
            </dict>
            <key>UI-Ts003.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,173},{312,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,59}}</string>
                <key>sourceSize</key>
                <string>{312,59}</string>
            </dict>
            <key>UI-Ts004.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,406},{529,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,170}}</string>
                <key>sourceSize</key>
                <string>{529,170}</string>
            </dict>
            <key>UI-Ts005.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{371,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,169}}</string>
                <key>sourceSize</key>
                <string>{371,169}</string>
            </dict>
            <key>UI-XG-btn01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,582},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>UI-XG-btn02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,937},{249,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,84}}</string>
                <key>sourceSize</key>
                <string>{249,84}</string>
            </dict>
            <key>UI-XG-btn03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,668},{265,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,103}}</string>
                <key>sourceSize</key>
                <string>{265,103}</string>
            </dict>
            <key>UI-no.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,582},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
            <key>UI-yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,173},{231,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,98}}</string>
                <key>sourceSize</key>
                <string>{231,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chineseRes.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80ac1b674317c2f77b49971f13040f16$</string>
            <key>textureFileName</key>
            <string>chineseRes.png</string>
        </dict>
    </dict>
</plist>
