<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DH-Time001.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,712},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,712},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,712},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,712},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Time009.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{708,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{708,54}}</string>
                <key>sourceSize</key>
                <string>{710,54}</string>
            </dict>
            <key>DH-Timedk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{710,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{710,54}}</string>
                <key>sourceSize</key>
                <string>{720,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingBar.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644a4fc4c95d61ca47bde8073fcde434$</string>
            <key>textureFileName</key>
            <string>loadingBar.png</string>
        </dict>
    </dict>
</plist>
